* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}



/*Comenzamos a dar estilo al header*/


body {
    background-image: url(../pics/fondo2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: blue;
}

header {
    display: flex;
    height: 5vh;
    background-color: rgba(2, 133, 255, 0.103);
    border-radius: 3rem;
}

.header-nav, .header-logo {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;

}

.header-logo {
    margin-left: 2rem;
}

.header-nav {
    flex-grow: 1;
    flex-direction: row-reverse;
    margin-right: 2rem;

}

.header-list{
    column-gap: 2rem;
    list-style: none;
    display: flex;
}



/*comenzamos a dar estilo al aside*/


main {
    height: 90vh;
    display: flex;
}

.main-aside {
    background-color: rgba(2, 133, 255, 0.103);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
    row-gap: 6rem;
}

.main-aside div {
    height: 25%;
    font-size: 1.5em;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.div1 {
    background-image: url(../pics/anuncio1.jpeg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.div2 {
    background-image: url(../pics/anuncio2.jpg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.div3 {
    background-image: url(../pics/anuncio3.jpg);
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
}



/*comenzamos a dar estilo a article dentro del main*/


.main-article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-article h1 {
    font-size: 4em;
    margin-bottom: 2rem;
    background-color: rgba(144, 164, 184, 0.103);
    border-radius: 1rem;
}

video {
    width: 80%;
}


/*comenzamos a dar stilo al footer*/


footer {
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 3rem;
    display: flex;
    height: 5vh;
    font-size: 2rem;
    align-items: center;
}

.footer-developer {
    height: 100%;
    width: 20%;
    background-image: url(../pics/color_logo_transparent_white.png);
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

.footer-contacto {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    column-gap: 1rem;
}

.footer-contacto1 {
    height: 100%;
    width: 20%;
    min-width: 20%;
    background-image: url(../pics/facebook.png);
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-contacto2 {
    height: 100%;
    width: 20%;
    background-image: url(../pics/insta.png);
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-contacto3 {
    height: 100%;
    width: 20%;
    background-image: url(../pics/twitter.png);
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
}



/*etiquetas generales*/

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}