* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}



/*Comenzamos a dar estilo al header*/


body {
    background-image: url(./pics/fondo2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: blue;
}

header {
    display: flex;
    height: 5vh;
    background-color: rgba(2, 133, 255, 0.103);
    border-radius: 3em;
}

.header-nav, .header-logo {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;

}

.header-logo {
    margin-left: 2em;
}

.header-nav {
    flex-grow: 1;
    flex-direction: row-reverse;
    margin-right: 2em;

}

.header-list{
    column-gap: 2em;
    list-style: none;
    display: flex;
}



/*comenzamos a dar estilo al aside*/


main {
    height: 90vh;
    display: flex;
}

.main-aside {
    background-color: rgba(2, 133, 255, 0.103);
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    width: 10vw;
    justify-content: center;
    align-items: center;
    row-gap: 10em;
}

.main-aside figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-aside figure a {
    display: flex;
    justify-content: center;
}

.main-aside figure img {
    width: 60%;
    height: auto;
}

.main-aside figure figcaption {
    font-size: 2rem;
    text-align: center;
    color: white;
}

/*comenzamos a dar estilo a article dentro del main*/


.main-article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-article h1 {
    font-size: 4rem;
    background-color: rgba(144, 164, 184, 0.103);
    border-radius: 0.3em;
}

.main-article video {
    height: 90%;
    max-height: 95%;
    max-width: 100%;
    width: auto;
}


/*comenzamos a dar stilo al footer*/


footer {
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 3em;
    display: flex;
    height: 5vh;
    font-size: 2rem;
    align-items: center;
}

.footer-developer {
    height: 100%;
    width: 20%;
    background-image: url(./pics/color_logo_transparent_white.png);
    background-size: 12%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 2em;
}

.footer-contacto {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
    column-gap: 1em;
}

.footer-contacto1 {
    height: 100%;
    width: 20%;
    min-width: 20%;
    background-image: url(./pics/facebook.png);
    background-size: 12%;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-contacto2 {
    height: 100%;
    width: 20%;
    background-image: url(./pics/insta.png);
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-contacto3 {
    height: 100%;
    width: 20%;
    background-image: url(./pics/twitter.png);
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
}



/*etiquetas generales*/

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}